html, body
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.jumbotron
{	
	margin-top: 5px;	
}
.jumbotron img
{
	width: 150px;
}
.espace-com h4
{
	text-align: center;
	position: relative;
	bottom: 50px;
}
.header
{
	background-color: #FF8300;
	height: 75px;
}
.info-page
{
	text-align: center;
}
.formulaire
{
	position: relative;
	left: 1000px;
	z-index: 1;
}