body, html
{
    overflow-x: hidden;
}
#logo
{
    width: 100px;
    position: relative;
    left: 450px;
}
.jumbotron {
    position: relative;
    bottom: 60px;
    background-color: white;
    color: #FF8300;
    
}
.btn
{
    background-color: #FF8300;
    border-color: #FF8300;
}
.left
{
    background-color: #FF8300;
}
.menu {
    margin-top: 50px;
    height: 850px;
}
#Btn-accueil{
    margin-top:10px;
}
#Btn-Techno{
    margin-top:10px;
}

#Btn-Musiques{
    margin-top:10px;
}

#Btn-Jeux-Videos{
    margin-top:10px;    
}

#Btn-Videos{
    margin-top:10px;
}
#Btn-Photos{
    margin-top:10px;    
}
.menu a:hover
{
    background-color: #00C4CC;
}

.populaire
{
    margin-left: 200px;
    max-width: 600px;
    background-color: white;
    border: 1px solid #e8e8e8;
}
.header
{
    font-size: 1.3em;
    text-align: center;
}


#img-yt
{
    width: 80px;
}

#img-fb
{  
    width: 80px;
}

#img-dz
{
    width: 80px;
}

.titre
{
    width: 150px;
    position: relative;
    bottom: 50px;
    left: 100px;
}
.titre h2
{
    margin-top: 15px;
}
.text
{
    position: relative;  
    bottom: 50px;
    left: 100px;
    width: 500px;
}
.text h3
{
    font-size: 1em;
}

h1 {
    text-align: center;
}

#config-titre
{
    position: relative;
    top: 0px;
}
#config-text
{
    position: relative;
    top: 0px;
}
#config-images
{
    position: relative;
    top: 80px;
}
.separateur
{
    padding: 0;
    margin: 0;
    
}
#btn-vote
{
    position: relative;
    left: 280px;
    width: auto;
    height: 24px;
    background-color: white;
    color: black;
    border: 1px solid #e8e8e8;
    font-size: 0.8em;
}
#commentaire
{
    width: 18px;
}
#btn-ctg{
    position: relative;
    left: 5px;
    height: 24px;
    background-color: white;
    color: black;
    border: 1px solid #e8e8e8;
    font-size: 0.8em;
}
#modal
{
    width: 1000px;
    position: relative;
    right: 250px;
}

.modal-title{
    margin-left: 350px;
    font-size: 2em;
}
#logo
{
    width: 80px;
    position: relative;
    left: 0px;
}
.modal-header a:hover
{
    text-decoration: none;
}
#modal-vote
{   
    position: relative;
    right: 700px;
    height: 40px;
    width: 100px;
    margin: 0;
    padding: 0;
}

#modal-vote:hover
{
    background-color: #00C4CC;
}

#quit-btn:hover
{
    background-color: #00C4CC;
}


.images
{
    position: relative;
    top: 50px;
}
#fb-modal
{
    bottom: 35px;
    top: 30px;
}
#logo-principale
{
    width: 80px;
    margin-left: 475px;
}
#config-block
{
    height: 200px;
}

.modal-body
{
    margin-left: 70px;
}
.modal-body img
{
    width: 800px;
}

/* Bouton message pour afficher/cacher */

#btn-com
{
    position: relative;
    right: 700px;
}
#btn-com:hover
{
    background-color: #00C4CC;
}
#btn-com1
{
    position: relative;
    right: 700px;
}
#btn-com1:hover
{
    background-color: #00C4CC;
}
#btn-com2
{
    position: relative;
    right: 700px;
}
#btn-com2:hover
{
    background-color: #00C4CC;
}

/* End boutton message afficher/cacher */


.btn-com
{
    position: relative;
    left: 100px;
}
.btn-com hr
{
    position: relative;
    right: 150px;
    margin-top: 10px;
}
.form-com
{
    position: relative;
    left: 550px;
}

@media screen and (max-width: 540px) {
#menu{
    display:none;
}
}
